<%= render "shared/flash_notice" %>

<div class="text-center mt-4">

  <h1>Welcome to Shortener</h1>

  <p class="mb-4">
    To get started, click the "new short URL" button below.
    <br>
    Then paste the URL you want shortened into the box provided and submit.
    <br>
    You will be given a clean, short URL that you can share with anyone.
  </p>
  <%= link_to "New short url", new_shortening_path, class: 'btn btn-primary' %>
</div>


<hr>
<div class="mt-5">

  <h5>Recent short URLs</h5>
  <div class="d-flex flex-column gap-2">
    <% if @shortenings.load.any? %>

      <% @shortenings.each do |shortening| %>
        <%= render shortening %>
      <% end %>
    <% else %>
      <p class="bg-subtle rounded p-4">No short URLs yet.</p>
    <% end %>
  </div>
</div>
