<h1>Create a new short URL</h1>

<%= render "form", shortening: @shortening %>

<br>

<div class="d-flex gap-2">
  <%= link_to "Back", shortenings_path, class: "btn btn-secondary flex-grow-1" %>
</div>
